<h1>Editing publication</h1>

<% form_for(@publication) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :pub_name %><br />
    <%= f.text_field :pub_name %>
  </p>
  <p>
    <%= f.label :pub_name_yomi %><br />
    <%= f.text_field :pub_name_yomi %>
  </p>
  <p>
    <%= f.label :pub_name_eng %><br />
    <%= f.text_field :pub_name_eng %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @publication %> |
<%= link_to 'Back', publications_path %>